$primary: #FFCC00;
$secondary: #000000;
$info: #808080;
@import "../node_modules/bulma/bulma.sass";

body {
    font-family: 'Poppins', sans-serif;
}

.has-background-dark strong {
    color: #fff !important
}

.navbar-end a {
    font-weight: 700;
}

// helpers

// home page info links
.info-links {
    @media (min-width:600px) {
        column-count: 2;
    }
}

.info-link {
    background: $secondary;
    width: 100%;
    color: #eee;
    font-size: 1.8rem;
    border-radius: .5rem;
    padding: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

    &:hover {
        h6 {
            color: $primary !important;
        }
    }

    h6 {
        transition: color 0.3s ease;
        color: #eee !important;


    }
}

// footer
footer {
    border-top: 1px solid #ccc;
}

// testimonials
.testimonials {
    @media (min-width:600px) {
        column-count: 2;
    }

    @media (min-width:900px) {
        column-count: 3;
    }

    @media (min-width:1400px) {
        column-count: 4;
    }
}

.testimonial {
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;

    h4 {
        color: $primary !important;
    }
}

.testimonial h4::after {
    content: '';
    border: 2px solid #ccc;
    width: 2rem;
    display: block;
    position: relative;
    margin: 1rem auto;
}

#services {
    ul {
        list-style-type: none;
        margin-left: 0;
    }

    .icon {
        color: $primary;
        height: 1rem;
        width: 1rem;
        margin-right: .5rem;
    }
}

.consultation {
    font-weight: bold;
    color: #ffe700;
    background: #ffe700 -webkit-gradient(linear, 100% 0, 0 0, from(#ffe700), color-stop(.5, #fff), to(#ffe700));
    background-position: -6rem top;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 3s infinite;
    background-size: 3rem 100%;
}

@keyframes shimmer {
    0% {
        background-position: -8rem top;
    }

    100% {
        background-position: 30.5rem top;
    }
}

.social-icons {
    a {
        display: flex;
        align-content: center;
        margin-bottom: 1rem;
    }

    @media (min-width:600px) {
        display: flex;

        a {
            margin-right: 1rem;
            margin-bottom: 0;
        }
    }
}

.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

@media (max-width:600px) {
    .has-navbar-fixed-top {
        padding-top: 5.25rem !important;
    }
}

@media screen and (min-width:800px) {
    .large-margin-top-desktop {
        margin-top: 25rem;
    }
}